.resetDiv {
  background-color: var(--color-splitter);
  color: #feffff;
  border-radius: 16px;
  padding: 30px;
  max-width: 566px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.buttonDiv {
  width: 100%;
  background-color: #25c2ad;
  line-height: 3.2rem;
  letter-spacing: 10%;
  border-radius: 7px;
  font-size: var(--font-size-large);
  cursor: pointer;
  margin-top: 40px;
  font-weight: 700;
  color: var(--color-splitter);
  text-align: center;
  padding: 12px;
}

/* Media Queries */

/* Tablet (768px and below) */
@media (max-width: 768px) {
  .resetDiv {
    padding: 40px;
    width: 100%;
    max-width: inherit;
  }

  .buttonDiv {
    font-size: var(--font-size-medium);
    margin-top: 30px;
    padding: 10px;
  }
}

/* Mobile (576px and below) */
@media (max-width: 576px) {
  .resetDiv {
    padding: 30px;
    width: 100%;
    max-width: inherit;
  }

  .buttonDiv {
    font-size: var(--font-size-small);
    margin-top: 20px;
    padding: 8px;
  }
}
