:root {
  --font-family: "Space Mono", monospace;
  --background-main: #c5e4e7;
  --background-container: white;
  --color-splitter: #00474b;
  --font-size-larger: 28px;
  --font-size-large: 24px;
  --font-size-medium: 18px;
  --font-size-small: 16px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-main);
}

.splitter {
  font-size: var(--font-size-large);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--color-splitter);
  margin-bottom: 2%;
}

.container {
  display: flex;
  flex-direction: row;
  padding: 25px;

  background-color: var(--background-container);
  border-radius: 20px;
}

.select-container {
  margin-right: 60px;

  max-width: 526px;
}

.resetDiv {
  width: 100%;
  max-width: 566px;
}

/* Media Queries */

@media (min-width: 1101px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    padding-bottom: 25px;
  }

  .select-container,
  .resetDiv {
    max-width: 526px;
  }
  .splitter {
    font-size: var(--font-size-large);
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 600px;
    padding-right: 15px;
    padding-bottom: 20px;
    flex-direction: column;
    align-items: center;
  }

  .select-container,
  .resetDiv {
    max-width: 100%;
    margin-right: 0;
  }
  .splitter {
    font-size: var(--font-size-medium);
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding-right: 10px;
    padding-bottom: 15px;
    flex-direction: column;
    align-items: center;
  }

  .select-container,
  .resetDiv {
    max-width: 100%;
    margin-right: 0;
  }
  .splitter {
    font-size: var(--font-size-small);
  }
}
