@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.tipSelector {
  width: 100%;
  margin: 0;
  padding-top: 1.25rem;
  border-radius: 0.375rem;
  font-family: var(--font-family);
  margin-bottom: 57px;
}

.tipLabel {
  font-size: 1.25rem;
  font-weight: 700;
  font-family: var(--font-family);
  line-height: 1rem;
  font-size: 20px;
  font-weight: 700;
  padding: 0px 10px 0px 0px;
}

.tipButtons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin-top: 1rem;
}

.tipButton {
  background-color: #00474b;
  color: #feffff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  line-height: 3rem;
  letter-spacing: 10%;
  font-family: var(--font-family);
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  padding: 0.625rem;
}

.tipButtonSelected {
  background-color: #26c2ad;
  color: white;
}
.tipButtonCustom {
  width: calc(100% - 5px);
  padding: 0 5px 0 0;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  text-align: center;
  font-size: 30px;
  background-color: #f3f8fb;
  color: black;
}

.customError {
  color: red;
  font-weight: 700;
  height: 0.5rem;
  visibility: hidden;
  margin-top: 0.5rem;
}
.customError {
  visibility: visible;
  color: red;
}
.tipButtonHover:hover {
  background-color: rgb(144, 143, 143);
}
@media (max-width: 768px) {
  .tipButtons {
    grid-template-columns: repeat(2, 1fr);
  }

  .tipButton {
    font-size: var(--font-size-large);
    line-height: 2rem;
    padding: 0.5rem;
  }

  .tipLabel {
    font-size: var(--font-size-medium);
  }
}

@media (max-width: 550px) {
  .tipButton {
    font-size: var(--font-size-medium);
    line-height: 1.5rem;
    padding: 0.5rem;
  }

  .tipLabel {
    font-size: var(--font-size-small);
  }
  .tipButtonCustom {
    font-size: var(--font-size-medium);
    width: calc(100% - 18px);
  }
}
